.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    position: relative;
    width: calc(40% - 30px);
    height: 300px;
    box-shadow: 0 0 10px #cdcdcd;
    margin: 15px;
    border-radius: 4px;
  }
  
  .box img {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    width: auto;
    height: auto;
    position: absolute;
    display: inline-block;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  .box .price {
    background-color: #047dc3;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .box .buy {
    background-color: #e6b723;
    padding: 10px 20px;
    color: #ffff;
    font-size: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
  }